DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"
PORT="3000"
NODE_ENV="development"
FRONTEND_URL="*"
JWT_SECRET="f4d8fca6edd92f13bce9cdc6a9976749ea5984195c44a76226ce31a3c1e0f152"
JWT_EXPIRES_IN="7d"
