DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

RESEND_API_KEY=
RESEND_FROM_EMAIL=

OTP_EXPIRES_MINUTES=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NODE_ENV="development"
PORT=
FRONTEND_URL=

COMMISSION_RATE=0.05
BADGE_MIN_COMPLETED_ORDERS=5
BADGE_MIN_AVERAGE_RATING=4.0